/* Variables */

:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-light-gray: #F8F8F8;
	--basic-yellow: #FBCB03;
	--basic-dark-yellow: #E6B901;
	
}

body {
	margin: 0;
	font-size: 18px;
	color: var(--basic-black);
	font-family: 'Montserrat', "Arial", sans-serif;
	font-weight: 300;
	line-height: 27px;

}


.wrap {
	max-width: 1260px;
	min-width: 320px;
	width:100%;
    margin: 0 auto;
    padding: 0 65px;
}

.visually-hidden{
	position: absolute;
	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.page {
	height: 100vh;
}

.h1{
	font-weight: bold;
	font-size: 50px;
	line-height: 1.2em;
	margin-top: 61px;
	margin-bottom: 16px;
}

a { 
	color: rgba(0, 0, 0, 0.32);
}

p {
	margin: 0;
}
.flex {

	display: flex;
}
/*first screen*/
.conference{
	position: relative;
	display: grid;
	grid-template-columns: min-content 1fr;
	
}
@media screen and (max-width: 600px) {
    .conference {
    	grid-template-columns: 1fr;}
}
.conference__about {
	position: relative;
	padding-top: 146px;
	width: 505px;
}
@media screen and (max-width: 600px) {
	.conference__fig {
    	order: -1;
    }
}
/*Animation Background*/
.conference__fig {
	position: relative;
	margin: 0;
}

.conference__bg-animation {
	width: 860px;
	height: 506px;
	background:repeating-linear-gradient(
  	45deg,
  	#000000,#000000 104px,
  	#ffffff 0px,#ffffff 208px
	);
	background-size: 295px 295px;
	animation: zebra 3s linear infinite;
	animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: zebra 3s linear infinite;
	clip-path: polygon(42% 0%, 100% 0%, 100% 100%, 42% 100%, 0% 42%);
	
}

.conference__fig-img {
	position: absolute;
	right: 0;
	top:183px;
}

.conference__desc {
    padding-bottom: 50px;
}

/*Buttons*/
.btn {
	font-family: 'Montserrat', "Arial", sans-serif;
	border-radius: 12px;
	border:none;
	width: 210px;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-right: 21px;
	cursor: pointer;

}
.btn--buy {
	background-color: var(--basic-yellow);
	color:var(--basic-black);
	position: relative;
	padding:19px;
}
.btn--buy:before {
	content: "";
	position: absolute;
	top:-40px;
	left: 83px;
	width: 44px;
	height: 44px;
	background-image: url("img/hello.png");
	background-size: cover;
	background-position: top center;
}
.btn--buy:hover,.btn--buy:active {
	background-color: var(--basic-dark-yellow);

}
.btn--submit {
	display: inline-block;
	width: 161px;
	height: 50px;
	text-align: center;
	background-color: var(--basic-white);
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 11px;
	cursor: pointer;
}
.btn--close {
	background-color: var(--basic-black);
	color: var(--basic-white);
	position: relative;
}
.btn--close:before {
	content: "";
	position: absolute;
	top:-40px;
	left: 83px;
	width: 44px;
	height: 44px;
	background-image: url("img/facepalm.png");
	background-size: cover;
	background-position: top center;
}
.btn--close:hover,.btn--close:active {
	background: rgba(0, 0, 0, 0.8);
	
}
.btn--refuse {
	display: block;
	width: 441px;
	height: 50px;
	margin-bottom: 50px;
	text-align: center;
	background-color: var(--basic-black);
	color:var(--basic-white);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 45px;
	cursor: pointer;
}
.btn--refuse:hover,.btn--refuse:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
}
.btn--close:hover,.btn--close:active {
	background: rgba(0, 0, 0, 0.8);
}
/*modal window cotact us*/
.modal {
	display: none;
	position: fixed;
	width:100%;
	height: 100%;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-color:  var(--basic-white);
  	padding:87px 80px;
  	box-sizing: border-box;

}
.modal-show {
	display: block;
}
.modal-contact {

  	grid-template-rows: 1fr min-content;
  	margin: 0 auto;
  	width:610px;
  	height: 100%;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
}

.subscribe {
	padding-top: 56px;
	padding-left: 25px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);

}
.subscribe__fig {
	margin: 0;
	padding-top: 6px 0px;
}
.subscribe__fig-img {
	height: 60px;

}
.subscribe__desc {
	width: 292px;
	margin-left: 20px;
}
.subscribe__form {
	margin-top: 150px;
	margin-bottom: 100px;
}
.form__email {
	display: inline-block;
	width: 306px;
	height: 50px;
	box-sizing: border-box;
	padding-left: 28px;
	background: var(--basic-light-gray);
	color: var(--basic-black) opacity 0.32;
	border-radius: 11px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

}

.form_result {
	padding:87px 80px;
	grid-template-rows: 1fr min-content;
  	margin: 0 auto;
  	width:610px;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;

}

.subscribe__thanks{
	margin: 174px 0px 184px 65px;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
    font-weight: normal;
}

.subscribe__form input:focus {
	color:var(--basic-black);
} 

.subscribe__form__agree {
	
	width:237px;
	margin-bottom: 40px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.32);
}


.feedback {

	padding-top: 56px;
	padding-left: 25px;
	background-color: var(--basic-black);
	color: var(--basic-white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.feedback__desc {
	width: 292px;
	margin-left: 20px;
}

.feedback__fig {
	margin: 0;
	padding-top: 6px 0px;
}
.feedback__fig-img {
	height: 60px;

}

.feedback__form {
	width:441px;
	margin: 0 auto;
}

.feedback_mes {
	width: 391px;
	margin: 0 auto;
	margin-top:103px;
	padding-bottom: 183px;
	text-align: center;
}

/*Return link*/ 
.return_link {
	display: block;
	margin:0;
	position: relative;
	padding-left: 19px;
	text-decoration: none;
	color: var(--basic-black);
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
}
.return_link:before {
	content: "";
	height: 35px;
	width: 18px;
	position: absolute;
	left:0px;
	background-image: url("img/vector.svg");

}

@keyframes zebra {
    0%{
		background-position: 0 295px;
    }
    100%{
    	background-position: 295px 0px;
    }
}

